<h1>Styrdokument</h1>

<p>P책 den h채r sidan finns en lite mer l채sbar version av Konglig Datasektionens styrdokument.</p>

<p>Styrdokumenten bor annars p책 <a href="github.com/datasektionen/styrdokument">http://github.com/datasektionen/styrdokument</a>.</p>
